<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ssml -->
      <package
            uri="http://ssml/1.0"
            class="org.saferobots.ssml.metamodel.ssml.SsmlPackage"
            genModel="model/ssml.genmodel"/>
   </extension>

</plugin>
