<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.saferobots.ssml.graphicaleditors.ssmldiagramType"
            name="org.saferobots.ssml.graphicaleditors.ssmldiagramType"
            type="org.saferobots.ssml.graphicaleditors.ssmldiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.saferobots.ssml.graphicaleditors.SsmlDiagramTypeProvider"
            context="org.eclipse.graphiti.ui.diagramEditor"
            id="org.saferobots.ssml.graphicaleditors.ssmldiagramTypeProvider"
            name="org.saferobots.ssml.graphicaleditors.ssmldiagramTypeProvider">
         <diagramType
               id="org.saferobots.ssml.graphicaleditors.ssmldiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.saferobots.ssml.graphicaleditors.ssmldiagramType.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.saferobots.ssml.graphicaleditors.ssmldiagramType.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="org.saferobots.ssml.graphicaleditors.main.tab"
               label="Main">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.saferobots.ssml.graphicaleditors.ssmldiagramType.PropertyContributor">
         <propertySection
               class="org.saferobots.ssml.graphicaleditors.property.GateSection"
               filter="org.saferobots.ssml.graphicaleditors.property.GateFilter"
               id="org.saferobots.ssml.graphicaleditors.main.tab.gate"
               tab="org.saferobots.ssml.graphicaleditors.main.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
